.slideshow > li {
    opacity: 0;
    transition: opacity 1s;
}
  
.slideshow > li.current {
    opacity: 1;
    animation-name:sample01;
    animation-duration:5s; 
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes sample01 {
    0% {
     opacity: 0;
     transform: translateY(0px);
    }
     100% {
     opacity:1;
     transform: translateY(-300px);
     } 
    }

/*
画像の表示位置指定.
*/
.photoImg{
    position:absolute;
    top:500px;
    left:0;
    right:0;
    margin:auto;
    width:404px;
    height:270px;
    border:10px solid black;
}